:root {
    --main-color: #4ABDAC;
    --secondary-color: #F7B733;
    --accent-color: #FF0000 ;
}


html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* background: #333133; */
    color: #dddddd;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Sniglet', cursive;
}

p, a {
    font-family: 'Comfortaa', sans-serif;
}


.top-header {
    background: none;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: -100px;
    transition: all 0.3s;
}

ul.nav-links {
    display: none;
    padding-left: 0;
    text-align: center;
    
}

.sticky {
    top: 0;
    background: rgba(0,0,0,0.9);
    height: 60px;
    z-index: 1;
} 

.mobile-nav {
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 20px;
    width: 30px;
    transition: all 260ms ease-in;
    
}

.mobile-navbar {
    display: block;
}

.rotate {
    /* transform-origin: center; */
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: var(--secondary-color);
    display: block;
}

a {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--main-color);
    margin-right: 30px;
    font-size: 1.6rem;
} 

.head-icon {
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    color: red;
}

.nav-link:hover{
    color: var(--secondary-color)
}

/* Sections */
#landing-page {
    height: 100vh;
    background-image: url(images/stairs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-rows: 45% 10% 45%;
    background-attachment: fixed;
}

.box {
    max-width: 1000px;
    margin: 0 auto;
}

#landing-page h2 {
    position: relative;
    padding-top: 10px;
}

#how-it-works h2 {
    margin-bottom: 40px;
}

/* #landing-page h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, transparent 0%, #dddddd 20%, #f7b733 50%, #dddddd 80%, transparent 100%);
} */

section {
    padding-left: 20px;
    padding-right: 20px;
}

main {
    display: block;
    background: #a9b2ba;
   
}

.section-same {
    background: #171111;
}

#welcome-head {
    align-self: end;
    margin-bottom: 20px;
}

#slogan {
    align-self: start;
}

/* .headerRule {
    border-top: 1px solid #8c8b8b;
} */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

footer {
    font-size: 1.11rem;
    text-align: center;
}

footer p {
    margin: 0;
}

#landing-page, section h2 {
    text-align: center;
}

form {
    text-align: center;
}

input:focus-visible{
    color: var(--secondary-color);
}

fieldset {
    border: none;
}

legend {
    font-size: 1.8rem;
    color: white;
}

#category-list,
#keyword-search,
#keyword-search::placeholder{
    background-color: var(--main-color);
    color: #fff;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    border: none;
}

#category-list, #keyword-search, .btn{
    font-size: 1.4rem;
    padding: 2px;
}

#contact, #how-it-works {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* buttons */

#video {
    display: flex;
    justify-content: center;
}

#video embed {
    min-height: 280px;
    min-width: 320px;
    margin: 16px 0;
}

#contact {
    text-align: center;
}

@media only screen and (max-width: 766px){

    .mobile-nav-links{
        position: absolute;
        top: 50px;
        left: 25%;
        right: 25%;
    }

    .open-nav {
        display: block !important;
        
    }
    
    .nav-links li a {
        font-size: 1.8rem;
    }

    .nav-on-click{
        height: 180px;
    }  
    #category-list, #keyword-search, .btn{
        font-size: 2.0rem;
        padding: 4px;
    }
}

@media only screen and (min-width: 766px){
   form button{
       font-size: .5rem;
       padding: 10px;
   }
   
    .mobile-nav {
        display: none;
    }

    nav.nav-bar {
        position: absolute;
        right: 0;
    }

    .nav-links {
        display: block !important;
    }

    .nav-links li {
        display: inline-block;
    }
   
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 7rem;
    }
    h2 {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    #video embed {
        width: 300px;
        height: 169px; /* 225px */
    }
}

@media (min-width: 481px) and (max-width: 586px) {
    #video embed {
        width: 480px;
        height: 270px; /* 320px */
    }
}
@media (min-width: 587px) and (max-width: 767px) {
    #video embed {
        width: 580px;
        height: 320px; /* 320px */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #video embed {
        width: 640px;
        height: 360px; /* 480px */
    }
}

@media (min-width: 992px) {
    #video embed {
        width: 960px;
        height: 540px; /* 720px */
    }
}