/* html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#player {
    max-width: 100%;
}

section,
main {
    text-align: center;
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.topHeader {
    display: flex;
    justify-content: space-between;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

section.landing-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spc {
    padding-top: 40px;
    padding-bottom: 40px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* strictly styles for wireframe */

/* .headIcon {
    width: 50px;
    background-color: black;
}

header {
    padding: 10px;
}

.landing-page {
    background-color: #737373;
}

.howItWorks {
    background-color: #999999;
}

main {
    background-color: #cccccc;
}

.contact {
    background-color: #e6e6e6;
} */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #333133;
    color: #dddddd;
    line-height: 1.6;
    height: 100vh;
}


.container {
    width: 100%;
    height: 100vh;
}

/* Navigation */

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(230, 230, 253)
}

.navbar ul li a:hover{
    color: goldenrod;
}

/* Sections */


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem;
}

section h2 {
    font-size: 2rem;
}

section p {
    font-size: 1.2rem;
}

footer {
    width: 100%;
    height: 60px;
    background: rgb(0,0,0);
}

footer p {
    font-size: 1.11rem;
    text-align: center;
}

#contact {
    height: 50vh;
}

#landing-page {
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* buttons */

button {
    padding: .5rem;
    font-size: 1em;
}


#video {
    width: 100%;
}

#video embed {
    min-width: 420px;
    min-height: 315px;
    max-width: 80%;
    max-height: 80%;
    width:90%;
    height:450px;
}