 html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* background: #333133; */
    color: #dddddd;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

p, a{
    font-family: 'Comfortaa';
}

.top-header {
    background: none;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: -100px;
    transition: all 0.3s;
}

ul.nav-links {
    display: none;
    padding-left: 0;
    text-align: center;
}

.sticky {
    top: 0;
    background: rgba(0,0,0,0.7);
    height: 60px;
    z-index: 1;
} 

.mobile-nav {
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    padding-top: 20px;
    transition: all 260ms ease-in;
}

.mobile-navbar {
    display: block;
}

.rotate {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
 
}

span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: white;
    display: block;
}

a {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 1.6rem;
} 

.head-icon {
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
}

.nav-link:hover{
    color: goldenrod;
}

/* Sections */
#landing-page {
    height: 100vh;
    background-image: url(images/stairs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-rows: 45% 10% 45%;
    background-attachment: fixed;
}

#landing-page h2 {
    position: relative;
}

#landing-page h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, transparent 0%, #000 20%, #000 50%, #000 80%, transparent 100%);
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

main {
    display: block;
    background: #a9b2ba;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-same {
    background: #171111;
}

#welcomeHead {
    align-self: end;
}

#slogan {
    align-self: start;
}

.headerRule {
    border-top: 1px solid #8c8b8b;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

footer {
    font-size: 1.11rem;
    text-align: center;
}

footer p {
    margin: 0;
}

#landing-page, section h2 {
    text-align: center;
}

form {
    text-align: center;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.8rem;
    color: white;
}

#category-list {
    
}

#category-list, #keywordSearch, .btn{
    font-size: 1.4rem;
    padding: 2px;
}

#keywordSearch{
    padding-left: 2%;
}

#contact, #howItWorks {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* buttons */

#video {
    display: flex;
    justify-content: center;
}

#video embed {
    width: 98%;
    height: 50vh;
    max-width: 800px;
}

#contact {
    text-align: center;
}
@media only screen and (max-width: 766px){
    .mobile-nav-links{
        position: absolute;
        top: 50px;
        left: 25%;
        right: 25%;
    }

    .open-nav {
        display: block !important;
        
    }
    
    .nav-on-click{
        height: 180px;
    }  
    #category-list, #keywordSearch, .btn{
        font-size: 2.4rem;
        padding: 4px;
    }
}

@media only screen and (min-width: 766px){
   form button{
       font-size: .5rem;
       padding: 10px;
   }
   
   
    .mobile-nav {
        display: none;
    }

    nav.navbar {
        position: absolute;
        right: 0;
    }

    .nav-links {
        display: block !important;
    }

    .nav-links li {
        display: inline-block;
    }

}