:root {
    --main-color: #4ABDAC;
    --secondary-color: #F7B733;
    --accent-color: #FF0000 ;
}


html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* background: #333133; */
    color: #dddddd;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Sniglet', cursive;
}

p, a {
    font-family: 'Comfortaa', sans-serif;
}


.top-header {
    background: none;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: -100px;
    transition: all 0.3s;
}

ul.nav-links {
    display: none;
    padding-left: 0;
    text-align: center;
    
}

.sticky {
    top: 0;
    background: rgba(0,0,0,0.9);
    height: 60px;
    z-index: 2;
} 

.mobile-nav {
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 20px;
    width: 30px;
    transition: all 260ms ease-in;
    
}

.mobile-navbar {
    display: block;
}

.rotate {
    /* transform-origin: center; */
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: var(--secondary-color);
    display: block;
}

a {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--main-color);
    margin-right: 30px;
    font-size: 1.6rem;
} 

.head-icon {
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    color: red;
}

.nav-link:hover{
    color: var(--secondary-color)
}

/* Sections */
#landing-page {
    height: 100vh;
    background-image: url(../images/stairs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 10px #000000;
}

.box {
    max-width: 1000px;
    margin: 0 auto;
}

#landing-page h2 {
    position: relative;
    padding-top: 10px;
}

#how-it-works h2 {
    margin-bottom: 40px;
}

.spc {
    padding-left: 20px;
    padding-right: 20px;
}

main {
    display: block;
    background: #4abdacb3;
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: inset 0 0 10px #000000;
}

.section-same {
    background: #000000;
}

.header-wrap {
    z-index: 1;
    width: 100%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
}

#welcome-head {
    margin-bottom: 20px;
    z-index: 1;
}

.both-headers {
    text-shadow: 1px 3px 10px #373737;
}

section#landing-page::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#slogan {
    align-self: start;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

#landing-page, section h2 {
    text-align: center;
}

.search-options {
    text-align: center;
}

.form-header {
    color: #fff;
    font-size: 2rem;
    margin: 10px;
}

form {
    text-align: center;
    display: inline-block;
    margin: 5px;
}

input:focus-visible{
    color: var(--secondary-color);
}

#category-list {
    width: 220px;
}

#category-list, #dropdown button {
    font-family: Helvetica;
}

.custom-dropdown, .btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.custom-dropdown select{
    background-color: var(--secondary-color);
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;	
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; 
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1rem;
    font-size: 1rem;
    line-height: 1;
    right: 1rem;
    top: 50%;
    margin-top: -.5em;
  }

.custom-dropdown::before { /*  Custom dropdown arrow cover */
width: 3rem;
right: 0;
top: 0;
bottom: 0;
border-radius: 0 3px 3px 0;
}

.custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
  }

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

.btn {
    background-color: var(--accent-color);
    color: #fff; 
    cursor: pointer;
    border: 0;
    border-radius: 3px;
}

#keyword-search {
    width: 100%;
    position: relative;
    bottom: 5px;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: white;
    background: transparent;
    outline-width: 0px;
}

.search {
	display: inline-block;
    position: relative;
    top: 10px;
    left: 20px;
	height: 35px;
	width: 35px;
	box-sizing: border-box;
	margin: 0px 8px 7px 0px;
	padding: 7px 9px 0px 9px;
    border: 3px solid var(--accent-color);
    background-color: var(--secondary-color);
	border-radius: 25px;
	transition: all 200ms ease;
    cursor: text;
}

.search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 21px;
    background: var(--accent-color);
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
}


.active, .search:hover {
    width: 200px;
}

/* .active, .search:after {
    height: 0px;
} */

#category-list, #keyword-search, .btn{
    font-size: 2rem;
    padding: 2px;
}

#contact, #how-it-works {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* buttons */

#video {
    display: flex;
    justify-content: center;
}

#video embed {
    min-height: 280px;
    min-width: 320px;
    margin: 16px 0;
}

#contact {
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
}

a.email-button {
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-radius: 3px;
    padding: 8px;
    background-color: #4ABDAC;
    font-size: 1.4rem;
    box-shadow: 2px 3px 8px #707070;
    transition-duration: 1s;
}

.email-button:hover {
    box-shadow: none;
}

footer {
    color: #000000;
    background: #4abdacb3;
    box-shadow: inset 0 0 10px #000000;
    font-size: 1.11rem;
    text-align: center;
}

footer p {
    margin: 0;
    padding-bottom: 40px;
}

footer h2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 766px){

    .mobile-nav-links{
        position: absolute;
        top: 50px;
        left: 25%;
        right: 25%;
    }

    .open-nav {
        display: block !important;
        
    }
    
    .nav-links li a {
        font-size: 1.8rem;
    }

    .nav-on-click{
        height: 180px;
    }  
}

@media only screen and (min-width: 766px){
   form button{
       font-size: .5rem;
       padding: 10px;
   }
   
    .mobile-nav {
        display: none;
    }

    nav.nav-bar {
        position: absolute;
        right: 0;
    }

    .nav-links {
        display: block !important;
    }

    .nav-links li {
        display: inline-block;
    }

    #category-list, #keyword-search, .btn{
        font-size: 2.0rem;
        padding: 4px;
    }
   
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 7rem;
    }
    h2 {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    #video embed {
        width: 300px;
        height: 169px; /* 225px */
    }
}

@media (min-width: 481px) and (max-width: 586px) {
    #video embed {
        width: 480px;
        height: 270px; /* 320px */
    }
}
@media (min-width: 587px) and (max-width: 767px) {
    #video embed {
        width: 580px;
        height: 320px; /* 320px */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #video embed {
        width: 640px;
        height: 360px; /* 480px */
    }
}

@media (min-width: 992px) {
    #video embed {
        width: 960px;
        height: 540px; /* 720px */
    }
}